img {
    max-width: 100%;
}

#imgsel{
    border:lightseagreen 2px solid;
}


h1,h2,h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:lightseagreen;
}

h1{
    font-size: 24px;
    font-weight: bold;
    text-align:left;
}


h3{
    font-size:16px;
    font-weight: bold;
    text-align: center;
}

p{
    color:gray;
    text-align:left;
}

.navbar{
    position:absolute;
    right:30px;
}

.navbar a{
    background-color: white;
}

body{
    width:100%;
    
}